<%= form_with(model: page) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="rich-text flex" data-controller="rich-text" data-rich-text-default-value="<%= @page.content %>">
    <div class="rich-text__edit border-dashed border-2 flex-1">
      <%= form.text_area :content, rows: 30, data: { 'rich-text-target': 'input', 'action': 'input->rich-text#sync' }, class: 'w-full' %>
    </div>

    <div class="rich-text__preview border-double border-2 flex-1" data-rich-text-target="output"></div>
  </div>


    <%= form.submit %>
  </div>
<% end %>
